.qlmulticol1 {
    column-count: 3;
    column-width: 100%;
    padding: 0% 4%;
    padding-bottom: 4%;
}

.qlmulticol1 iframe {
    width: 100%;
    height: 500px;
}

.qlmulticol2 {
    column-count: 2;
    column-width: 100%;
    padding: 0% 4%;
    padding-bottom: 4%;
}

.qlmdoc iframe {
    width: 98%;
    height: 500px;
}

.qlmdoc {
    padding-top: 10%;
}

.sbody3 h2 {
    font-size: 50px;
    text-align: left;
    font-family: monospace;
    font-weight: bolder;
    margin-bottom: 4%;
    margin-top: 0;
    padding-top: 3%;
}