ul {
    border-bottom: 2px solid lightgray;
}

.notestop ul {
    background-color: black;
    border-bottom: 2px solid rgb(39, 39, 39);
}

.ntopnav li {
    float: left;
}

.ntopnav li a {
    color: rgb(162, 87, 255);
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family:monospace;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.ntopnav li a:hover {
    color:rgb(245, 207, 255);
}