* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
}
.wrapper {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.tabs {
  position: relative;
  background: #3b638c;
  width: 100%;
  height: 215rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table-column;
}
.tabs::after {
  clear: both;
}
.tab {
  float: top;
  width: 9%;
  position: relative;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  background: #3b638c;
  color: #fff;
  cursor: pointer;
  top: 0;
  font-weight: bolder;
  text-align: center;
}
.tab-label:hover {
  color: #5b94cc;
  transition: color 0.4s;
}
.tab-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 7.0em;
  padding: 1.618rem;
  padding-top: 0;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  width: 1000%;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  left: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

table, th, td {
  border:1px solid black;
}

th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}